# Directories used for testing
models/
homebrewery/
exllamav2/
output/

# Test and backup Docker files
Dockerfile - node
Dockerfile copy
Dockerfile Master copy

# File type to ignore


# Specific File
temp_image.jpg