# install last 
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
# pip install flash-attn
#pip install auto-gptq
accelerate
aiofiles
aiohttp
aiosignal
altair
annotated-types
antlr4-python3-runtime
anyio
async-timeout
attrs
backoff
blinker
cachetools
certifi
charset-normalizer
clarifai
clarifai-grpc
click
cmake
cohere
colorama
coloredlogs
compel
contextlib2
contourpy
ctransformers
cycler
dataclasses-json
datasets
diffusers
dill
einops
exceptiongroup
exllamav2
fastapi
fastavro
ffmpy
filelock
fonttools
frozenlist
fsspec
gekko
gitdb
GitPython
googleapis-common-protos
gradio
gradio_client
greenlet
grpcio
h11
httpcore
httpx
huggingface-hub
humanfriendly
idna
importlib-metadata
importlib-resources
iniconfig
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kiwisolver
manifest-ml
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
mpmath
multidict
multiprocess
mypy-extensions
networkx
ninja
nlpcloud
numpy
omegaconf
openai
openlm
optimum
orjson
packaging
pandas
peft
Pillow
pluggy
protobuf
psutil
py-cpuinfo
pyarrow
pydantic
pydantic_core
pydeck
pydub
Pygments
pyparsing
pyreadline3
pytest
python-dateutil
python-dotenv
python-multipart
python-rapidjson
python_on_whales
pytz
PyYAML
qinfer
redis
referencing
regex
reportlab
requests
rich
rouge
rpds-py
safetensors
schema
semantic-version
sentencepiece
six
smmap
sniffio
soupsieve
SQLAlchemy
sqlitedict
starlette
streamlit
sympy
tenacity
tokenizers
toml
tomli
toolz

tornado
tqdm
transformers
tritonclient
typing-inspect
typing_extensions
tzdata
tzlocal
urllib3
uvicorn
validators
watchdog
websockets
wheel
xxhash
yarl
zipp

